body{
    background-color: rgb(243, 243, 243);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
table {
    border-collapse: collapse;
    margin: 20px auto;
    width: 80%;
}
th, td {
    padding: 10px;
    text-align: left;
    border: 3px solid #0000ff;
    vertical-align: top;
    
}
.textoSuperior{
    text-align: center;
    font-size: 20px;
}
.card{
    background-color: rgb(147, 147, 227);
    border: solid 2px #0000ff;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 4px 8px;
}
.descricao{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}
.data{
    text-align: right;
    font-size: 12px;
    margin-right: 4px;
}
.botaoKanban{
    text-decoration: none;
    color: white;
    background-color: #0000ff;
    margin: 3px;
    padding: 3px;
    margin-bottom: 20px;
    border: solid 2px black;
    border-radius: 10px;
    font-size: 14px;
}
.bg-vermelho{
    background-color: rgb(197, 2, 2);
}
h1{
    text-align: center;
    background-color: #0000ff;
    color: aliceblue;
    margin: 0;
    padding: 10px 0;
}
form{
    display: flex;
    flex-direction: column;
    width: 70%;
    font-size: 17px;
    margin-top: 10px;
}
.centralizar-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
form input{
    margin-bottom: 10px;
    height: 30px;
    font-size: 17px;
}
form select{
    margin-bottom: 10px;
    font-size: 17px;
}
#enviar{
    background-color: #0000ff;
    font-size: 17px;
    padding: 5px;
    color: aliceblue;
    border: none;
    border-radius: 10px;
}
#enviar:hover{
    cursor: pointer;
}
.links{
    background-color: rgb(168, 215, 255);
    padding: 4px;
    text-align: center;
}
.links a{
    text-decoration: none;
    margin-right: 15px;
    margin-left: 15px;
    color: #0000ff;
    font-weight: 500;
}
.confirmar{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 132, 124);
    padding: 10px;
    text-align: center;
    
}
.confirmar a{
    color: black;
    text-decoration: none;
}
.verde{
    background-color: rgb(172, 250, 165);
}